.name {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px seashell, 0 0 5px darkblue;
}

/* Profile Picture */
.img-header {
    background-color: tomato;
    /* background-image: ADD IMAGE HERE; */
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

body {
    background-image: url('../../public/img/port-background.jpg'); 
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment: fixed; /* Keeps it fixed while scrolling */
  }

#sig {
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
}