.nav nav-tabs {
    background-color: turquoise;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-top: 20px;
}
 /* Nav Tab Layout Styling */
.nav-tabs {
display: flex;
justify-content: space-between;
list-style: none;
font-size: larger;
margin-bottom: 80px;
color: white;
} 

/* Nav Tab Link Styling */
.nav-link {
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.nav-link:hover {
    color: black;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px darkgrey;
}