/* GENERAL STYLES FOR HEADER AND MAIN PARAGRAPH FOR ALL PAGES */

.h1 {
color: white;
font-size: 60px;
font-weight:bold;
text-shadow: 1px 1px 2px black, 0 0 25px seashell, 0 0 5px darkblue;
}

.main-para {
color: white;
font-size: 30px;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
line-height: 2;
text-shadow: 1px 1px 2px black;
}


/* ------------------------------------------RESUME TAB SPECIFIC STYLES */

/* Styling for click-able resume link */
/* WHY CAN I ONLY CLICK THIS ONCE? */
.resume {
    font-size: large;
    color:white;
}

/* Skills RN and Technical Listings */
.skills, li {
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
}
.skills {
    font-size: 35px;
    text-decoration: underline;
}

li {
    font-size: 25px;
    list-style: none;
    margin: 10px;
}

/* ------------------------------------------PORTFOLIO TAB SPECIFIC STYLES */

/* ------------------------------------------CONTACT TAB SPECIFIC STYLES */

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
input {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
.message {
    height: 100px;
    width: 300px;
}
.submit {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
}